body {
  font: 10px sans-serif;
}

.chart {
	margin: auto;
	margin-top: 50px;
	width: 500px;
}

.chart.map {
	width: 700px;
}

.bar {
	fill: steelblue;
}

.bar.default {
	fill: steelblue;
}

.bubble {
	fill: steelblue;
	fill-opacity: 0.25;
	cursor: pointer;
}

.orange {
	fill: orange;
}

.green {
	fill: green;
}

/*.zoomable {
	cursor: pointer;
	pointer-events: visibleFill;
}*/

.zoomHover {
	stroke: steelblue;
  	stroke-opacity: 0.5;
}

.map path {
	stroke: #fff;
	fill: steelblue;
}

.line {
	stroke: steelblue;
	stroke-width: 1.5px;
	fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #6e6e6e;
  shape-rendering: crispEdges;
}
