body {
	font-family: Helvetica;
	background-color: #101010;
	font-size: 14px;
	color: #fff;
}

text {
	fill: #fff;
}

h2 {
	text-align: center;
}

.barAveragesChart {
	margin: auto;
	/*margin-top: 100px;*/
	width: 900px;
}