body {
	font-family: Helvetica;
	background-color: #101010;
	font-size: 14px;
	color: #fff;
	/*color: #ccc;*/
}

text {
	fill: #fff;
	/*fill: #ccc;;*/
}

h1 {
	text-align: center;
}

.chart {
	margin: auto;
	width: 900px;
	margin-top: 50px;
	/*border-bottom: 1px solid #ccc;*/
}

.chart h2 {
	text-align: center;
}