body {
	font-family: Helvetica;
	background-color: #101010;
	font-size: 14px;
	color: #fff;
}

text {
	fill: #fff;
}

h1 {
	text-align: center;
}

.chart {
	margin: auto;
	width: 900px;
	margin-top: 50px;
}

.chart h2 {
	text-align: center;
}