.chart {
	margin: auto;
	margin-top: 50px;
	width: 700px;
}

.radar {
	margin: auto;
	width: 420px;
}

.line {
	stroke: steelblue;
	stroke-width: 1.5px;
	fill: none;
}

.gline:hover .line {
	stroke-width: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #6e6e6e;
  shape-rendering: crispEdges;
}

.radar-chart .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area {
  fill-opacity: 0.1;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.8;
}

.radar .MAX {
	display: none;
}